<main class="app">
  <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: -1200em;">
    <filter id="blur">
      <feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur>
      <feOffset dx="0" dy="0"></feOffset>
      <feMerge>
        <feMergeNode></feMergeNode>
        <feMergeNode in="SourceGraphic"></feMergeNode>
      </feMerge>
    </filter>
  </svg>
  <section class="main" id="root">
    <section class="welcome">
      <div class="welcome__logo"><img src="img/melody-logo.png" alt="Угадай мелодию" width="186" height="83"></div>
      <button class="welcome__button"><span class="visually-hidden">Начать игру</span></button>
      <h2 class="welcome__rules-title">Правила игры</h2>
      <p class="welcome__text">Правила просты:</p>
      <ul class="welcome__rules-list">
        <li>Нужно ответить на все вопросы.</li>
        <li>Можно допустить 3 ошибки.</li>
      </ul>
      <p class="welcome__text">Удачи!</p>
    </section>
  </section>
</main>

<app-header></app-header>
