<main class="app">
  <svg xmlns="http://www.w3.org/2000/svg" style="position: absolute; left: -1200em;">
    <filter id="blur">
      <feGaussianBlur in="SourceGraphic" stdDeviation="5"></feGaussianBlur>
      <feOffset dx="0" dy="0"></feOffset>
      <feMerge>
        <feMergeNode></feMergeNode>
        <feMergeNode in="SourceGraphic"></feMergeNode>
      </feMerge>
    </filter>
  </svg>
  <section class="main" id="root">
    <section class="login">
      <div class="login__logo"><img src="img/melody-logo.png" alt="Угадай мелодию" width="186" height="83"></div>
      <h2 class="login__title">Вы настоящий меломан!</h2>
      <p class="login__text">Хотите узнать свой результат? Представтесь!</p>
      <form class="login__form" action="">
        <p class="login__field">
          <label class="login__label" for="name">Логин</label>
          <input class="login__input" type="text" name="name" id="name">
        </p>
        <p class="login__field">
          <label class="login__label" for="password">Пароль</label>
          <input class="login__input" type="text" name="password" id="password">
          <span class="login__error">Неверный пароль</span>
        </p>
        <button class="login__button button" type="submit">Войти</button>
      </form>
      <button class="replay" type="button">Сыграть ещё раз</button>
    </section>
  </section>
</main>

<app-header></app-header>
